.main{
<<<<<<< HEAD
    margin-top: 3%;
}

#card{

    color: black;
}

#date{
    color: black;
    font-weight: 400
}
#h2{
    font-size: 95%;
    font-weight: 700
}
#article{
    font-weight: 400
}

#icons{
    font-size: 30px;
    margin-left: 3%
}

/* @media (max-width: 768px) {
    #card {
        font-size: 220%;
    }
  }
  
  @media (min-width: 769px) {
    #card {
      font-size: 120%;
    }
}

@media (max-width: 768px) {
    #article {
        font-size: 70%;
    }
  } */

  .container{
      background-color: white
=======
    margin-top: 7%
}

#card{
    font-size: 120%;
    font-weight: 900
}
#maincard{
    background: #521751;
    color: white
}
#article{
    font-weight: 200;
}

@media (max-width: 768px) {
    .main {
      font-size: 200%;
    }
>>>>>>> 933731246f993aa244da79ad50c64a1ab2c3851b
  }