.main{
    margin-top: 3%;
}

#card{

    color: black;
}

#date{
    color: black;
    font-weight: 400;
    text-align: center;
}
#h2{
    font-size: 95%;
    font-weight: 700;
    text-align: center;
    margin-top: 2%
}
#gift{
    font-weight: 400
    
}

#imgs{
    width:100%; 
    height:100%;
    object-position: 20%;
    border-radius: 7%;
margin-left: 100%;

}
#gifts {
    width:33%; 
    height:380px; 
} 

.comment{
    margin-bottom: 10%;
    margin-left: 74%;
    width: 50%
}
#comment{
    
}

@media (max-width: 768px) {
    #imgs {
        margin-left: 0%;  
    }
    #gifts{
        width:100%;
    }
  }
  
  @media (min-width: 769px) {
    #card {
      font-size: 120%;
    }
}

@media (max-width: 768px) {
    #article {
        font-size: 70%;
    }
  }

  .container{
      background-color: white
  }